---
import Layout from '../layouts/Layout.astro';
import QuoteGenerator from '../components/QuoteGenerator.astro';
---

<Layout title="Stoic Developer">
	<main class="min-h-screen flex items-center justify-center">
		<QuoteGenerator />
	</main>
</Layout>
